@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

html {
  font-family: PT Sans;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.main-container {
  margin-top: 50px;
  height: 50vh;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* circles */

.circle-container {
  height: 400px;
  width: 400px;
  margin: 10px;
  background-color: #cbf3f0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.semicircle {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: right center;
}

.semicircle:nth-child(1) {
  background-color: #2ec4b6;
  z-index: 2;
}

.semicircle:nth-child(2) {
  background-color: #2ec4b6;
  z-index: 3;
}

.semicircle:nth-child(3) {
  background-color: #cbf3f0;
  z-index: 4;
}

.outermost-circle {
  height: 390px;
  width: 390px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 5;
}

/* демонастрация анимации таймера */

/* .main-container:hover .semicircle:nth-child(1) {
  transform: rotate(180deg);
  transition: 1s linear;
}

.main-container:hover .semicircle:nth-child(2) {
  transform: rotate(360deg);
  transition: 2s linear;
}

.main-container:hover .semicircle:nth-child(3) {
  opacity: 0;
  transition: opacity 0s 1s;
} */

/* timer digits */

.timer-container {
  height: 200px;
  width: 330px;
  z-index: 6;
}

.timer {
  height: 100px;
  width: 400px;
  color: #cbf3f0;
  z-index: 7;
}

.timer div {
  height: 80px;
  width: 80px;
  font-size: 70px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
}

.timer .colon {
  width: 10px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 15px;
}

/* time-selector */

.selector-container {
  height: 120px;
  /* height: 50vh; */
  width: 100%;
  position: relative;
}

.middle-line {
  height: 40px;
  width: 350px;
  position: absolute;
  background-color: #adb5bd;
  border-radius: 8px;
  z-index: 1;
}

.screen {
  height: 120px;
  width: 40px;
  overflow: scroll;
  z-index: 2;
  scroll-snap-type: y mandatory;
}

.screen::-webkit-scrollbar {
  display: none;
}

.selector-container div {
  font-size: 20px;
  color: white;
  z-index: 2;
}

.screen div {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  scroll-snap-align: start;
}

.time-mesure {
  height: 40px;
  width: 60px;
}

/* buttons */

.buttons-panel {
  margin-top: 20px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #adb5bd;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.start {
  background-color: #cbf3f0;
  color: #2ec4b6;
}

.btn:hover {
  filter: brightness(110%);
}

.btn:active {
  filter: brightness(90%);
}
